<header>
    <div id="name">
        Temo
    </div>
</header>
<div class="row">
    <div class="col-md-2 col-sm-0 hidden-lg-down" id='level'></div>
    <div id="game-logic" class="col-md-8 col-sm-12">
        <div id="description"></div>
        <div class="row">
            <div class="col-sm-2">
                Entrada
                <div id="in"></div>
            </div>
            <div class="col-sm-2">
                Pila
            </div>
            <div class="col-sm-4">
                Mono
            </div>
            <div class="col-sm-2">
                Salida
            </div>
            <div class="col-sm-2">
                Ejecucion
                <div id="ejecucion" class="borderEjecucion"></div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-0">
        <div class="chat-tittle">COMANDOS</div>
            <div class="chat">
                 <div class="body-chat" id="elementsDrag" style="padding: 5px;">
                     
                 </div>
        </div>
        <div class="chat-tittle">CHAT GRUPO</div>
            <div class="chat">
                 <div class="body-chat">
                </div>
        </div>

    </div>

</div>