<div class="container">
    <form id="login">
        <div class="form-group">
            <label for="matricula">Matricula</label>
            <input type="text" class="form-control" id="matricula" placeholder="Matricula" name="matricula"></input>
          </div>
          <div class="form-group">
            <label class="mr-sm-2" for="type_user">Tipo</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="type_user" name="type_user">
              <option value="1" style="color:black;">Estudiante</option>
              <option value="2" style="color:black;">Profesor</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" onclick="_$.getController().login(_$.getId('login').getElement())">Laogin</button>

    </form>
</div>

