<form id="login">
        <div class="form-group">
            <label for="id_student">Matricula</label>
            <input type="text" class="form-control" id="id_student" placeholder="Matricula" name="id_student"></input>
        </div>
        <div class="form-group">
            <label for="nip">NIP</label>
            <input type="password" class="form-control" id="nip" placeholder="Nip" name="nip"></input>
        </div>
          <div class="form-group">
            <label class="mr-sm-2" for="type_user">Tipo</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="type_user" name="type_user">
              <option value="1" style="color:black;">Estudiante</option>
              <option value="2" style="color:black;">Profesor</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>

</form>